.user-card {
  display: grid;
  column-gap: 40px;
  /* row-gap: 2px; */
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  justify-content: space-around;
}

.search-user {
  display: flex;
  align-items: center;
  gap: .5rem;
}

@media (768px <= width <= 1300px) {
  .user-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (320px <= width <= 600px) {
  .user-card {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
}
