<section class="container">
  <div class="home ">
    <div>
      <img src="../../../assets/images/irobot.jpg" />
    </div>

    <div class="home_content">
      <h2>hello, i am</h2>
      <p>IRobot</p>
      <p>Software Engineer</p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, quas
        facilis odio hic suscipit fugiat?
      </p>

      <p>Hire me</p>
    </div>
  </div>

  <h2 class="focus">Focus Area</h2>
      
  <div class="card-container">
    <div class="card-display">
      <img src="" alt="" />
    <h3>Algorithms & Data structure</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>

    </div>

    <div class="card-display">
        <img src="" alt="" />
      <h3>Project Management</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>

      <div class="card-display">
        <img src="" alt="" />
      <h3>Coding languages</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>

      <div class="card-display">
        <img src="" alt="" />
      <h3>Operating System</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>
  </div>

</section>

