<section class="container">
  <div class="home">
    <div>
      <img src="../../../assets/images/irobot.jpg" alt="IRobot Image" />
    </div>

    <div class="home_content">
      <h2>hello, i am</h2>
      <p>IRobot</p>
      <p>Software Engineer</p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, quas
        facilis odio hic suscipit fugiat?
      </p>

      <div class="hire-me">
        <a routerLink="/error">
          <p>Hire me</p>
          <span class="material-symbols-light--arrow-forward"></span>
        </a>

      </div>
    </div>
  </div>

  <h2 class="focus">Focus Area</h2>

  <div class="card-container">
    <div class="card-display">
      <span class="material-symbols-light--settings"></span>
      <h3 class="heading">Algorithms & Data Structure</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis
        consectetur veniam molestias tenetur eveniet vitae quaerat molestiae
        excepturi error.
      </p>
    </div>

    <div class="card-display">
      <span class="bitcoin-icons--cross-outline"></span>
      <h3>Project Management</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis
        consectetur veniam molestias tenetur eveniet vitae quaerat molestiae
        excepturi error.
      </p>
    </div>

    <div class="card-display">
      <span class="tabler--capture"></span>
      <h3>Coding Languages</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis
        consectetur veniam molestias tenetur eveniet vitae quaerat molestiae
        excepturi error.
      </p>
    </div>

    <div class="card-display">
      <span class="mdi--hammer-wrench"></span>
      <h3 style="color: #fff;">Operating System</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis
        consectetur veniam molestias tenetur eveniet vitae quaerat molestiae
        excepturi error.
      </p>
    </div>
  </div>
</section>

<!-- <section class="container">
  <div class="home ">
    <div>
      <img src="../../../assets/images/irobot.jpg" />
    </div>

    <div class="home_content">
      <h2>hello, i am</h2>
      <p>IRobot</p>
      <p>Software Engineer</p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, quas
        facilis odio hic suscipit fugiat?
      </p>

      <p>Hire me</p>
    </div>
  </div>

  <h2 class="focus">Focus Area</h2>
      
  <div class="card-container">
    <div class="card-display">
      <img src="" alt="" />
    <h3 class="heading">Algorithms & Data structure</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>

    </div>

    <div class="card-display">
        <img src="" alt="" />
      <h3>Project Management</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>

      <div class="card-display">
        <img src="" alt="" />
      <h3>Coding languages</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>

      <div class="card-display">
        <img src="" alt="" />
      <h3>Operating System</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>
  </div>

</section>
 -->
