<section class="container">
  <div class="home">
    <div>
      <img src="../../../assets/images/irobot.jpg" alt="IRobot Image" />
    </div>

    <div class="home_content">
      <h2>hello, we are</h2>
      <p>Group 7</p>
      <p>Software Engineers</p>

      <p>
        This is the group submission for Group Seven(7) Angular Project.
      </p>

      <div class="hire-me">
        <a routerLink="/error">
          <p>Software Engineering Track</p>
          <span class="material-symbols-light--arrow-forward"></span>
        </a>

      </div>
    </div>
  </div>

  <h2 class="focus">Focus Area</h2>

  <div class="card-container">
    <div class="card-display">
      <span class="material-symbols-light--settings"></span>
      <h3 class="heading">Algorithms & Data Structure</h3>
      <p>
        A programming algorithm is a procedure or formula used for solving a problem. 
        It is based on conducting a sequence of specified actions in which these actions describe how to do something.
      </p>
    </div>

    <div class="card-display">
      <span class="bitcoin-icons--cross-outline"></span>
      <h3>Project Management</h3>
      <p>
        Project management is the process of leading the work of a team to achieve all project goals within the given constraints.
      </p>
    </div>

    <div class="card-display">
      <span class="tabler--capture"></span>
      <h3>Coding Languages</h3>
      <p>
        A programming language is a set of instructions written by a programmer to deliver instructions to the computer to perform and accomplish a task. 

      </p>
    </div>

    <div class="card-display">
      <span class="mdi--hammer-wrench"></span>
      <h3 style="color: #fff;">Operating System</h3>
      <p>
        operating system (OS), program that manages a computer's resources, especially the allocation of those resources among other programs.
      </p>
    </div>
  </div>
</section>

<!-- <section class="container">
  <div class="home ">
    <div>
      <img src="../../../assets/images/irobot.jpg" />
    </div>

    <div class="home_content">
      <h2>hello, i am</h2>
      <p>IRobot</p>
      <p>Software Engineer</p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, quas
        facilis odio hic suscipit fugiat?
      </p>

      <p>Hire me</p>
    </div>
  </div>

  <h2 class="focus">Focus Area</h2>
      
  <div class="card-container">
    <div class="card-display">
      <img src="" alt="" />
    <h3 class="heading">Algorithms & Data structure</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>

    </div>

    <div class="card-display">
        <img src="" alt="" />
      <h3>Project Management</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>

      <div class="card-display">
        <img src="" alt="" />
      <h3>Coding languages</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>

      <div class="card-display">
        <img src="" alt="" />
      <h3>Operating System</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nobis consectetur veniam molestias tenetur eveniet vitae quaerat molestiae excepturi error.</p>
  
      </div>
  </div>

</section>
 -->
